/* RESET */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
  /* Cancel out some differences between browser defaults */
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
 
* {
  /* Padding and borders will be subtracted from the content box width, not added to it. */
  box-sizing: border-box;
}

article, aside, audio, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section { 
  /* Make sure the browser knows how to display HTML5 elements */
  display: block;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

/* Home */

header {
    height: 20%;
    width: 100%;
    background-color: deepskyblue;
    color: white;
}

body {
    font-family: 'Nixie One', cursive;
    color: black;
    font-weight: bold;
    min-height: 100vh;
    /* Margin bottom by footer height */
    position: relative;
    margin: 0;
    padding-bottom: 100px;
}

.navbar-brand span  {
    display: block;
    text-align: center;
    background-color: azure;
    color: deepskyblue;
    font-weight: bold;
}

.container-fluid {
    vertical-align: bottom;
}

.navbar {
    width: 100%;
    height: 100%;
    background-color: deepskyblue; 
    border: none;
}


header .nav-justified li a {
    color: white; 
}

nav li a {
    display: inline; 
    font-weight: bold;
    font-size: 1.2em;
    border: 2px solid deepskyblue;
}

.dropdown-menu {
    background-color: deepskyblue;
}

main {
    margin-top: 0;
}

.breadcrumb {
    margin-bottom: 0;
}


section h2, p {
    text-align: left;
    line-height: 1.5em;
    padding: 10px;
}

.content {
    text-align: center;
    margin-top: 2em;
}

footer {
    margin-top: 20px;
    background-color: #333333;
    color: white;
    padding-top: 1em;
    /* sticky footer style */
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

#legal {
    width: 100%;
    height: 20%;
    /*background-color: white;*/
    color: deepskyblue;
    text-align: center;
    padding: 1em;
}

#social {
    text-align: center;
    padding: 10px; 
    vertical-align: middle;
}

#social ul {
    margin-top: 10px;
}

#social ul li { 
    display: inline;
    text-align: center;
    padding: 10px;
}

#social ul li a:hover {
    border: none;
}

footer .nav-justified li a {
    margin-top: 10px;
    color: white;
    font-size: 1.2em; 
}

.nav li a:hover {
    background-color: initial;
    border-bottom: 2px solid white; 
}

footer .nav li a:hover {
    border-bottom: none; 
}

footer .nav li a:hover span {
    border-bottom: 2px solid deepskyblue; 
}

footer .nav li a span {
    padding-bottom: 5px;
}

.caption a {
    background-color: deepskyblue;
    color: white;
    font-size: 1.1em;
}

.tm_img {
    width: 300px;
    height: 260px;
    overflow: hidden;
}

.thumbnail img:hover {
    opacity: 0.8;
    padding: 20px;
}

.selected {
    border-bottom: 2px solid white; 
}
/* bungy.html */
#scrollspy a {
    color: black;
}

.panel-default .panel-heading {
    background-color: deepskyblue;
}

/* skydiving.html */
blockquote footer {
    background-color: white;
}

.embed-responsive-16by9 {
    margin: 1em 0;
}

#skydiving .panel-heading {
    background-color: deepskyblue;
    color: white;
}
/* food_drink.html */
.food_img {
    padding: 1em;
    text-align: center;
}

.panel a:focus, a:hover {
    text-decoration: none;
}

.panel a:hover .panel-heading {
    border-left: 10px solid red;
}

.panel a:focus .panel-heading {
    border-left: 10px solid red;
}

.panel-heading {
    background-color: deepskyblue;
    color: white;
}

a:hover {
    text-decoration: none;
}

#scroll_food a {
    color: black;
}


.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: deepskyblue;
    border-color: deepskyblue;
    font-size: 1.2em;
}

audio {
    width: 100%;
    text-align: center;
}

/* live.html */
#scroll_live a {
    color: black;
}

/* activities */


/* about */
.media {
    margin-bottom: 3em;
}

/* about */
.form {
    margin: 3em;
}